appdirs==1.4.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.3
cheroot==5.1.0
CherryPy==10.1.1
decorator==4.0.11
EasyProcess==0.2.3
enum34==1.1.6
ipython==5.2.2
ipython-genutils==0.1.0
meld3==1.0.2
packaging==16.8
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
portend==1.8
prompt-toolkit==1.0.13
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.10
pytz==2016.10
PyVirtualDisplay==0.2.1
redis==2.10.5
scandir==1.5
selenium==2.53.0
simplegeneric==0.8.1
six==1.10.0
supervisor==3.3.1
tempora==1.6.1
traitlets==4.3.1
wcwidth==0.1.7
